*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.text-italic{
    font-style: italic;
}

.text-normal{
    font-style: normal;
}

img{
    margin: 20px 0;
}

button {
    padding: 5px 15px;
    background-color: blue;
    color: #fff;
    border-radius: 5px;
}